body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**--------------------------------------
HEADER
------------------------------------*/

/**--------------------------------------
SECTIONS
------------------------------------*/



/**--------------------------------------
FOOTER
------------------------------------*/

