* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**--------------------------------------
HEADER
------------------------------------*/
#logo{
	
}

#top-nav{

}
/**--------------------------------------
SECTIONS
------------------------------------*/
/**************
HERO SECTION
***************/
#hero-secion{
	
}

#slideshow-container{
  max-width: 100%;
  margin: auto;
  margin-top:25px;
	position:relative;
}

.my-slides img{
    height:50%;
	position: relative;
}

.my-slides{
	display: block;
	position: relative;
	z-index: 1;
}


.my-slides:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index: 1;
	background:url('../images/black-criss-cross.png') center repeat;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fade img{
	width:100%;
}

#hero-ctrls-container{
	position: absolute;
}

#hero-title{
	text-align: center;
	font-family: Raleway, sans-serif, cursive;
	font-size:50px;			
}

#hero-btn{
	text-align: center;
}
/****************
MIDDLE SECTION
********************/
#middle-section{
	background-color: gray;
}
/*styles for the animated headling*/
#middle-headline{
	text-align: center;
}

/*wrapp those words*/
#words-wrapper{
	
}

.middle-icon{
	text-align: center;
}

.middle-icon i{
	font-size: 70px;
} 
.middle-text{
	text-align: center;
}
/****************
CALL TO ACTION
**************/
#call-to-action{
	
}

.call-img-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.call-img-container img{
	width: 100%;
	height: 100%;
}

@keyframes bubblerise {
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

#call-animate-btn{
	text-align: center;
	bottom:0;
	right: 0;
}
/**--------------------------------------
FOOTER
------------------------------------*/

